 Skip to content

    Explore
    Gist
    Blog
    Help

    utheme utheme

    1
    0
    37

public utheme/utheme.github.io forked from utopia-theme-default/utopia-theme-default.github.io

utheme.github.io / theme.css
utheme utheme 14 minutes ago
Update theme.css

2 contributors
utheme utopia-theme-default
file 636 lines (476 sloc) 12.557 kb
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 	


body {
    color: #000000;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
}

a { color: #0000ff; text-decoration: none; }

a.highlighted { color: #E68910; }

#header-logo { width: 183px; height: 50px; position: absolute; }

#header { background-color: #ffffff; }

.navigation { color: #000000; font-size: 14px; font-weight: normal; text-align: left; border: 1px solid #000000; background-color: #ffffff; }
.navigation a { color: #000000; }

#account-header { border: 1px solid #000000; color: #000000; }

#account-details {
    font-size: 12px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    line-height: 16px;
    background-color: #494432;
}

#account-details .account-title {
    font-size: 18px;
    font-weight: bolder;
    border-bottom: 1px solid #000000;
}

#account-details .alert a {
    color: #ff771c;
}

#account-details .account-summary {
    border-bottom: 1px solid #29261c;
}

#account-details .account-signout {
    border-top: 1px solid #29261c;
    font-weight: bold;
    text-align: right;
}

.report-this {
    color: #c4a112;
    background-color: #18100e;
}

.reported-content {
    border: 2px inset #616161;
    background-color: #000000;
}

.overlay {
    background-color: #2f2e2e;
    border:1px solid #666;
}

.overlay .close {
    background-image:url("./images/overlay-close.png");
}

.age-changes,
.lobby-panel,
.campaigns {
    border: 1px solid;
    border-color: #000000;
    background: #dddddd;
}

.lobby-panel h1 {
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
}

.lobby-panel table th { font-size: 14px; }
.lobby-panel table td { font-size: 14px; }
.lobby-panel h2 { font-size: 14px; }
.age-changes h3,
.campaigns h3 { font-size: 14px; }

.recruitment-campaigns h1,
.race-changes h1,
.trait-changes h1 { font-size: 20px; }

.race-changes h2,
.trait-changes h2 { font-size: 20px; }

.good { color: #90ee90; }
.bad { color: #EC7566; }

.message {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid;
    font-size: 20px;
}

.good.message
{
    color: #fefff7;
    border-color: #feffea;
    background: #718d16;
}

.bad.message
{
    color: #FFFCF7;
    border-color: #feffea;
    background: #521802;
}

.info.message
{
    color: #FFFCF7;
    border-color: #feffea;
    background: #D09734;
}

.lobby-panel .statement {
    background: url('./images/province_profile/scroll.png') no-repeat;
}

.lobby-panel .statement h2 {
    line-height: 16px;
}

.advice-message {
    color: #ff0000;
}

.warning {
    color: #e55700;
}

.error {
    color: #e55700;
}

#game-navigation .current-date {
    font-size: 14px;
    border: 1px solid;
    border-color: #000000;
}

#game-navigation a {
    line-height: 0.6em;
}









#resource-bar { border: 1px solid #000000; }
#resource-bar thead { background: #dddddd; }
#resource-bar thead th,
#resource-bar thead td,
#resource-bar tbody th,
#resource-bar tbody td { font-size: 12px; width: 98px; }
#resource-bar .positive { color: #aaffaa; }
#resource-bar .negative { color: #ffaaaa; }







.news-legend span.news-aid:before { content: url(./images/kingdom_news/aid_inline.png); }
.news-legend span.news-intra-kingdom-conflict:before { content: url(./images/kingdom_news/intra_kingdom_conflict_inline.png); }
.news-legend span.news-actions-against-our-kingdom:before { content: url(./images/kingdom_news/actions_against_our_kingdom_inline.png); }
.news-legend span.news-actions-by-our-kingdom:before { content: url(./images/kingdom_news/actions_by_our_kingdom_inline.png); }
.news-legend span.news-dragon:before { content: url(./images/kingdom_news/dragon_inline.png); }
.news-legend span.news-obituaries:before { content: url(./images/kingdom_news/obituaries_inline.png); }
.news-legend span.news-relations:before { content: url(./images/kingdom_news/relations_inline.png); }
.news-province-modification:before { content: url(./images/kingdom_news/province_modification_inline.png); }

td.news-aid { background-image: url(./images/kingdom_news/aid.png); }
td.news-intra-kingdom-conflict { background-image: url(./images/kingdom_news/intra_kingdom_conflict.png); }
td.news-actions-against-our-kingdom { background-image: url(./images/kingdom_news/actions_against_our_kingdom.png); }
td.news-actions-by-our-kingdom { background-image: url(./images/kingdom_news/actions_by_our_kingdom.png); }
td.news-dragon { background-image: url(./images/kingdom_news/dragon.png); }
td.news-obituaries { background-image: url(./images/kingdom_news/obituaries.png); }
td.news-relations { background-image: url(./images/kingdom_news/relations.png); }
td.news-province-modification { background-image: url(./images/kingdom_news/province_modification.png); }

/* KINGDOM DETAILS */
.unused-slot { color: #B0B0B0; }
.protected,
.intel-fresh { color: #99ffbb; }
.monarch,
.at-war,
.intel-rotten { color: #F28585; }
.chamberlain,
.intel-stale { color: #FFC583; }
.you { font-weight: bold; }
.slot-number { font-size: 0.8em; color: #B0B0B0; }

.provinces-legend {
    font-size: 0.8em;
}

.provinces-legend .invitations {
    font-size: 18px;
}

.dip-status
{
    color: #000;
}

.dip-status-NORMAL
{
    background-color: #01DF01;
}

.dip-status-UNFRIENDLY
{
    background-color: #FFBF00;
}

.dip-status-HOSTILE
{
    background-color:#FF4000;
    background-image: url(./images/hostile_meter/hostile_gradient.png);
    background-repeat:repeat-y;
}

.dip-status-WAR
{
    background-color: #FF0000;
}

.own-meter-value
{
    background-image: url(./images/hostile_meter/up.png);
}

.their-meter-value
{
    background-image: url(./images/hostile_meter/down.png);
}

.war-button-meter-value
{
    background-image: url(./images/hostile_meter/war.png);
}

#hostility-meter-example {
    background-image: url(./images/hostile_meter/example.png);
}

#id_taunt_top_image {
    color: white;
}

/* Province profile page
-------------------------------------------------------------- */

.province-flag .flagpole {
    background: url('./images/province_profile/flagpole.png') no-repeat;
}

.province-flag .flag-image .default-flag {
    background: url('./images/province_profile/default_flag.png') no-repeat;
}

.motto {
    background: url('./images/province_profile/scroll.png') no-repeat;
}








.game-header { height: 34px; }
.game-header h1 {
    height: 16px;
    margin: 0px 6px 0px 0px;
    padding: 3px 4px 3px 4px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #000000;
    background: #dddddd;
}

.game-header a h1 {
    color: #000000;
    background: #dddddd;
}





.game-content { border: 0px solid #000000; }
.game-content h2 { font-size: 12px; font-weight: normal; line-height: 20px; }
.game-content thead th { font-size: 12px; font-weight: normal; }
.game-content tbody th { font-size: 12px; border-left: 1px solid #000000; }
.game-content tbody th:first-child { border-left: none; }
.game-content tbody td { font-size: 12px; padding-right: 20px; }
.game-content tbody tr:nth-child(even) { background: #dddddd; }

.game-content form table {
    border: 0px;
    border-top: 1px solid #000000;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
}

.game-content form table thead th {
    height: 36px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
}

.game-content form tbody th {
    border-left: 1px ridge #000000;
}

.game-content form tbody th:first-child {
    border-left: none;
}

.game-content form tbody td {
    padding-right: 20px;
    text-align: center;
}

.game-content form tbody tr {
    border: none;
}

.game-content form tbody tr:nth-child(even) {
    background: #dddddd;
}

.game-content form.change-kingdom #royal-commands {
    border-top: 2px dotted #000;
}

.game-content form.change-kingdom #royal-commands table {
    border-top: none;
}

.game-content form.change-kingdom #royal-commands table tbody td,
.game-content form.change-kingdom #royal-commands input[type=text] {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.game-content form.change-kingdom #royal-commands .button-link {
    font-size: 16px;
    line-height: 20px;
}


.game-content h2 {
    border: 1px solid;
    border-color: #000000;
    background: #dddddd;
}

.game-content h3 {
    font-size: 14px;
    color: #000000;
}

.game-content form {
    font-size: 12px;
}

.game-content form.no-visible-fields {
    width: auto;
    background: none;
    border: none;
}


.game-content form.change-kingdom {
    font-size: 12px;
}

.game-content form.change-kingdom .change-kingdom-heading {
    font-size: 12px;
}

.game-content form.change-kingdom .change-kingdom-form {
    font-size: 12px;
    color: #000000;
}

.game-content form.change-kingdom.change-kingdom-target {
    border: 0px;
    border-color: #000000;
}






.two-digit-input { width: 50px; }
.three-digit-input { width: 55px; }
.four-digit-input { width: 70px; }
.five-digit-input { width: 85px; }
.six-digit-input { width: 100px; }




.game-content table.applicant-view input[type="submit"],
.game-content table.mail-view input[type="submit"],
.game-content table.mail-view .button-link {
    font-size: 14px;
}

table.mail-view td.formatted-text {
    background: rgb(86, 83, 74);
}

div.wysiwyg {
    border: 1px solid #999;
    padding: 5px;
    background: rgb(86, 83, 74);
}

div.wysiwyg ul.toolbar li {
    background: url('./images/jquery.wysiwyg.gif') no-repeat -64px -80px;
    border: 1px outset #83817d;
}

body.wysiwyg {
    color: #fff;
    background: #3a3830; /* Old browsers */
    font-size: 12px;
}

#bookmark-header {
    background-image: url(./images/gold_star.png);
    background-repeat: no-repeat;
    background-position: center 3px;
}

#bookmark-header:hover,
#bookmark-header.selected
{
    background-color: #494432;
}

#bookmark-details
{
    font-size: 16px;
}

#bookmark-details div
{
    padding-top: 1px;
    padding-bottom: 1px;
}

#bookmark-details a:hover {
    box-shadow: -10px 0px 6px -6px #fff;
}

#bookmark-details #bookmarks {
    border-top: 1px solid #29261c;
    border-bottom: 1px solid #29261c;
}

#royal-command-icon {
    background-image: url(./images/gold_crown.png);
    background-repeat: no-repeat;
    background-position: center 3px;
}

#royal-command-icon:hover {
    background-color: #494432;
}

.tablesorter th .order-icon {
    background-image: url(./images/order_none.png);
}

.tablesorter th.headerSortUp .order-icon {
    background-image: url(./images/order_asc.png);
}

.tablesorter th.headerSortDown .order-icon {
    background-image: url(./images/order_desc.png);
}

.campaign-meter-level div {
    border: 1px solid #789316;
}

.campaign-meter-level div.full {
    background-color: #789316;
}

.campaign-meter-level div.unknown {
    color: #789316;
}

.fails-criteria div {
    border: 1px solid #CD4331;
}

.fails-criteria div.full {
    background-color: #CD4331;
}

.recruitment-header .rank-bar,
.campaigns .rank-bar {
    background-color: #867721;
}

.recruitment-header .selected-rank,
.campaigns .selected-rank {
    background-color: #E5C40F;
}

.campaigns .campaign-message-intro {
    font-weight: 200;
    color: white;
    font-size: 18px;
}

#uniform-id-orderby {
    background-position: left -38px;
    width: 296px;
}

#uniform-id-orderby span,
#uniform-id-orderby.focus span,
#uniform-id-orderby.hover span,
#uniform-id-orderby:hover span {
    font-size: 30px;
    background-position: right -38px;
}

td#inline-hostility-meter {
    text-align: left;
    text-shadow: none;
    font-weight: normal;
}











div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  text-align: left;
  border-color: #000000;
  width: auto;
}

.selector,
.radio,
.checker,
.uploader,
.selector *,
.radio *,
.checker *,
.uploader * { color: #000000; font-size: 14px; font-weight: normal; text-align: left; }





form ul.errorlist {
    color: #e26f80;
}

input[type=text],
form textarea,
form input[type=text],
form input[type=password] {

    padding-left: 3px;
    font-size: 14px;
    text-align: left;
    color: #000000;
}

form input[type=text],
form input[type=password] {
    height: 14px;
    font-size: 14px;
}

form .errorlist {
    font-size: 12px;
}

form input[type=submit],
.button-link {
    border: 1px solid #000000;
    font-size: 12px;
    background: #9c7815;
    color: #ffffff;
}

    Status
    API
    Training
    Shop
    Blog
    About

    © 2014 GitHub, Inc.
    Terms
    Privacy
    Security
    Contact

